<div class="col-xs-12">
    <div class="col-md-12">
        <div class="panel panel-primary col-lg-12">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-search"></i>
                </span>

                <input type="text" class="form-control" placeholder="Buscar proyecto" ng-model="filtrar">

            </div>
        </div>


        <div class="panel-body" ng-init="listarActividadesIntegrante()">
            <table  class="table table-striped">
                <thead>
                    <tr>
                        <th class="seleccionable">
                            <a>Nombre</a>
                        </th> 
                        <th class="seleccionable">
                            <a>Descripcion</a>
                        </th> 
                        <th class="seleccionable">
                            <a>Inicio</a>
                        </th>   
                        <th class="seleccionable">
                            <a>Fin</a>
                        </th> 
                        <th class="seleccionable">
                            Opciones
                        </th>
                    </tr>
                </thead>
                <tbody ng-init="listarActividadesIntegrante()" >
                    <tr  ng-click="getSelectedRow()" ng-repeat="obj in listadoActividades|
                            filter:filtrar ">
                        <td>{{obj.nombre}}</td>
                        <td>{{obj.descripcion}}</td>
                        <td>{{obj.inicio}}</td>
                        <td>{{obj.fin}}</td>
                        <td>
                            <!--------COMIENZO LAS OPERACIONES-->


                            <button type="button" class="btn btn-info" ng-click="listarTareaActividad()" data-toggle="modal" data-target="#myModal">Ver tareas</button>

                            <!-- Modal -->
                            <div id="myModal" class="modal fade col-lg-12" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Tareas de la actividad</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>Este es el cuerpo del trabajo</p>
                                            <!--------------------------TODO WRITE HERE------------------------------------>
                                            <table  class="table table-striped col-md-9">
                                                <thead>
                                                    <tr>
                                                        <th class="seleccionable">
                                                            <a>Nombre</a>
                                                        </th>   
                                                        <th class="seleccionable">
                                                            <a>(%)</a>
                                                        </th>    
                                                        <th class="seleccionable">
                                                            <a>Estado(%)</a>
                                                        </th>    
                                                        <th class="seleccionable">
                                                            <a>Fecha Inicio</a>
                                                        </th>  
                                                        <th class="seleccionable">
                                                            <a>Fecha Fin</a>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody ng-init="listarTareaActividad()" >
                                                    <tr  ng-click="getSelectedRow()" ng-repeat="obj in lTareaActividad| filter:filtrar ">
                                                        <td>{{obj.nombre}}</td>
                                                        <td>{{obj.porcentaje}}</td>
                                                        <td>{{obj.estado}}</td>
                                                        <td>{{obj.inicio}}</td>
                                                        <td>{{obj.fin}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <!-------------------------------------------------------------->
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!---TERMINO LAS OPERACIONES-->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>