<div class="body-wrap">
    <div class="container">
        <nav class="navbar navbar-inverse" role="navigation" style="margin-bottom: 20px;
             border: -222px solid transparent">
            <div class="navbar-inverse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#/Proyectos">Mis Proyectos</a></li>
                    <li><a href="#/Actividades">Actividades</a></li>
                    <li><a href="#/">Estados Proyectos</a></li>
                    <li><a href="#/">Reuniones</a></li>
                    <li>
                        <ul class="posicionBtnSalirIntegrante">     

                            <div ng-controller="CtlLogIn">
                                <button id="btnLogOut" class="btn btn-danger" style="margin-bottom: -26px"
                                        ng-click="logOut()">Cerrar Sesion</button>       
                            </div>      
                        </ul>
                    </li>                   
            </div>

        </nav>
    </div>
    </div>
